function tch                # Show a list of functions
{
  echo "\n"
  echo ${BOLD} 'FUNCTIONS ===============================>'
  echo ${RESET}
  grep "^function" "$HOME/.functions"
  echo ${RESET}
  echo ${BOLD} 'ALIASES   ===============================>'
  echo ${RESET}
  grep "^alias" "$HOME/.aliases"
}

function gitignore          # Generate gitignore
{
  npx gitignore "$1"
}

function listening          # Check Ports
{
  if [ $# -eq 0 ]; then
    sudo lsof -iTCP -sTCP:LISTEN -n -P
  elif [ $# -eq 1 ]; then
    sudo lsof -iTCP -sTCP:LISTEN -n -P | grep -i --color "$1"
  else
    echo 'Usage: listening [pattern]'
  fi
}

function damn               # Reinstall node_modules
{
  if [ "$1" ]; then
    if [[ "$1" == 'yarn' ]]; then
      rm -rf node_modules
      yarn install
    elif [[ "$1" == 'npm' ]]; then
      rm -rf node_modules
      npm install
    else
      echo "Usage: damn [${YELLOW} yarn ${RESET} | ${YELLOW} npm ${RESET}]"
    fi
  else
    if command -v yarn &>/dev/null; then
      rm -rf node_modules
      yarn install
    else
      rm -rf node_modules
      npm install
    fi
  fi
}

function untrack            # Fix untracked files in git
{
  git rm -r --cached .
  git add .
  git commit -m 'fixed untracked files'
}

function fromhex            # Converts hexadecimal color code to tput color index
{
    hex=${1#"#"}
    r=$(printf '0x%0.2s' "$hex")
    g=$(printf '0x%0.2s' ${hex#??})
    b=$(printf '0x%0.2s' ${hex#????})
    printf '%03d' "$(( (r<75?0:(r-35)/40)*6*6 +
                       (g<75?0:(g-35)/40)*6   +
                       (b<75?0:(b-35)/40)     + 16 ))"
}

function upgrade            # Upgrades shell profiles to latest release
{
  if [ -f "$ZSH/tools/upgrade.sh" ]; then
    sh "$ZSH/tools/upgrade.sh"
  else
    omz update
  fi
}

function mkcd               # Make directory and immediately cd into it
{
  if [ ! -n "$1" ]; then
    echo "Usage: mkcd [directory-name]"
  elif [ -d "$1" ]; then
    echo "\`$1' already exists"
  else
    mkdir "$1" && cd "$1"
  fi
}

function show-hidden-files  # Show hidden files in Finder
{
  defaults write com.apple.finder AppleShowAllFiles YES; killall Finder
}
